<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIME LOGGING</title>
    
    

    <div class="container">
        <ul>
            <% for(let i = 0; i < Logs.length; i ++) {%>
                <li>
                <div>
                    <%= Logs[i].time %>
                </div>
                </li>
            <% } %>
        </ul>    
    </div>
    <footer> 
        <p> Marko Tgm. &#169; 2021 </p>
    </footer>
</body>
</html>